@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Placa</h1>
    <p>Formulário modelo para envio de dados no API Placa</p>
</div>

<form method="post" asp-action="/" enctype="multipart/form-data">

    <div class="row">
        <div class="col">
            <label>Tipo Regional </label> <br />
            <select asp-items="Model.TipoRegionais" class="form-control" asp-for="Payload.Rod_Tipo">
            </select>
        </div>
        <div class="col">
            <label>Codigo </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_Codigo" />
        </div>

        <div class="col">
            <label>Data </label> <br />
            <input type="date" class="form-control" asp-for="Payload.Rod_Data" />
        </div>

        <div class="col">
            <label>KM Inicial </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_KMInicial" />
        </div>

        <div class="col">
            <label>KM Final </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_KMFinal" />
        </div>
    </div>
    <hr />
   
    <div class="row">

        <div class="col">
            <label>Tipo Pista </label> <br />
            <select asp-items="Model.TipoPistas" class="form-control" asp-for="Payload.Rod_TipoPista">
            </select>
        </div>

        <div class="col">
            <label>Sentido </label> <br />
            <select asp-items="Model.Sentidos" class="form-control" asp-for="Payload.Rod_Sentido">
            </select>
        </div>

        <div class="col">
            <label>Posição </label> <br />
            <select asp-items="Model.Posicoes" class="form-control" asp-for="Payload.Rod_Posicao">
            </select>
        </div>

        <div class="col">
            <label>Tipo Localização </label> <br />
            <select asp-items="Model.Localizacoes" class="form-control" asp-for="Payload.Rod_localizacao">
            </select>
        </div>

    </div>
    <hr />
    <div class="row">

        <div class="col">
            <label>TS </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_Ts" />
        </div>

        <div class="col">
            <label>Classe </label> <br />
            <select asp-items="Model.Sinalizacoes" class="form-control" asp-for="Payload.Rod_Classe">
            </select>
        </div>

        <div class="col">
            <label>Implantação </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_Implantacao" />
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col">
            <label>Estado Conservação </label> <br />
            <select asp-items="Model.EstadoConservacoes" class="form-control" asp-for="Payload.Rod_Estado_Conservacao">
            </select>
        </div>

        <div class="col">
            <label>Situação </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_Situacao" />
        </div>

        <div class="col">
            <label>Atendimento Especificações </label> <br />
            <select asp-items="Model.AtendimentoEspecificacoes" class="form-control" asp-for="Payload.Rod_Atendimento_Especificacoes">
            </select>
        </div>
    </div>
    <hr />

    <div class="row">

        <div class="col">
            <label>Georreferencia </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_Georreferencia" />
        </div>

        <div class="col">
            <label>Dimensões </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_dimensoes" />
        </div>

        <div class="col">
            <label>Cor </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_Cor" />
        </div>

        <div class="col">
            <label>Cadência Intervalo </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_Cadencia_Intervalo" />
        </div>

    </div>
    <hr />

    <div class="row">

        <div class="col">
            <label>Retro. Obtida </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_Retrorr_Obtida" />
        </div>

        <div class="col">
            <label>Retro. Referência </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_Retrorr_Referencia" />
        </div>

        <div class="col">
            <label>QR.Code </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_Qr_Code" />
        </div>

        <div class="col">
            <label>Observação </label> <br />
            <input type="text" class="form-control" asp-for="Payload.Rod_Observacao" />
        </div>

    </div>

    <hr />

    <div class="row">
        <div class="col">
            <label>Fotos</label> <br />
            <input type="file" class="form-control" asp-for="Payload.Foto" multiple />
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <label>&nbsp;</label> <br />
            <input type="submit" value="Enviar" class="btn btn-primary" />
        </div>
    </div>
</form>
